.musicPlayer {
  width: 15rem;
  z-index: 1;
  position: absolute;
  top: 12.5rem;
  right: 9rem;
}

.cloud {
  color: #00a1d9;
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .musicPlayer {
    top: 22rem;
    right: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .musicPlayer {
    top: 7rem;
    right: 11rem;
    width: 200px;
  }
}
