.musicPlayer {
  width: 19rem;
  margin-bottom: 10rem;
  margin-right: -4rem;
}

.player {
  height: 300px;
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .musicPlayer {
    top: 11rem;
    right: 3rem;
    position: absolute;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .musicPlayer {
    align-self: center;
    width: 94%;
    justify-content: center;
    margin: 0;
  }

  .player {
    height: 100%;
  }
}
