.navbar {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
}

.navbarLinks {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbarLogo {
  width: 12rem;
  margin-left: 4rem;
}

.navbarLogo img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.navbarLinks_container {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.navbarLinks_container li {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  list-style-type: none;
  color: #f2d03b;
  position: absolute;
}

.navbarLinks_container li:hover {
  color: #00a1d9;
}

.menuIcon {
  display: none;
}

.navSocial {
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .navbarLogo {
    position: absolute;
    left: 0;
    top: 1rem;
  }
  .navbarLinks_container {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 13rem;
    padding: 0rem 2rem;
    background-color: #042c54;
    margin-top: 9rem;
    position: absolute;
    right: 2rem;
  }

  .navbarLinks_container-close {
    display: none;
  }

  .menuIcon {
    display: block;
    right: 3rem;
    position: absolute;
    font-size: 1.5rem;
    color: #f2d03b;
    background-color: inherit;
    border: none;
  }
}

@media screen and (max-width: 480px) {
  .navbarLogo {
    position: absolute;
    left: -1.5rem;
    top: 1rem;
  }
  .navbarLinks_container {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 13rem;
    padding: 0rem 2rem;
    background-color: #042c54;
    margin-top: 9rem;
    position: absolute;
    right: 2rem;
  }

  .navbarLinks_container-close {
    display: none;
  }

  .menuIcon {
    display: block;
    right: 3rem;
    position: absolute;
    font-size: 1.5rem;
    color: #f2d03b;
    background-color: inherit;
    border: none;
  }
}
